.add_photo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 8px;
}

.add_photo_text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  margin: 0;
}

.input_img {
    color: transparent;
    width: 120px;
}

.input_description {
  border: none;
  border-bottom: 0.3px solid rgb(194, 193, 193);
  outline: none;
  padding: 0 6px;
}

.photo {
  width: 140px;
}

.button {
  padding: 8px;
  margin-top: 8px;
  background-color: #cecece;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  border-radius: 4px;
}

.button:hover {
  transform: scale(1.03);
  background-color: #afafaf;
  box-shadow: 8px 0px 24px #d6d5d5;
}

.hidden {
  display: none;
}